.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #header {
      width: 50%;
  }
  
  .img {
      padding-bottom: 10px;
      width: 50%;
  }

  .form {
      display: inline-block;
      margin: auto;
  }
  
  #inputs,
  #button {
      display: inline-block;
  }
  
  input {
      padding: 8px 15px;
      border: 1px solid black;
      border-radius: 20px;
  }
  
  #searchBarLocation {
      width:10em;
  }
  
  input[type="text"] {
      font-size: 13px;
  }
  
  #button {
      width: 2.7%;
      vertical-align: middle;
  }
  
  #results {
      width: 80%;
      margin-top: 15px;
      margin-left: 20px;
  }

  .text {
      display: table-row;
  }

  h2 {
      font-size: 20px;
      color: blue;
      white-space: pre-wrap;
      line-height: 0.7;
  }
  
  h3 {
      font-size: 15px;
      color: #01ed02;
      white-space: pre-wrap;
      line-height: 0;
  }
  
  p {
      font-size: 15px;
      line-height: 1.2;
        /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  #loader {
    margin-top: 15px;
    display: none;
    border: 5px solid black;
    border-top: 5px solid #01ed02;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }